body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.pokemon {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.name {
    text-align: center;
}

.image {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 150px;
    object-fit: contain;
}

.wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin: 15px auto;
    font-size: 40px;
}
